* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw+1vh);
    --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

.parallax-container{
    height: 500px;
    width: auto;
    height: 100vh;
}

.header-main{
    position: relative;
}

.header-main::after{
    position: absolute;
    content: "";
    z-index: 100;
    width: 100%;
    height:calc(var(--index)*10);
    background-image: url("./images/hill.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index)*-4.5);
}

.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.img-layer{
    height: 100%;
    width: 100%;
    position: absolute;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}

.layer-base{
    transform: translate3d(0,calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
    background-position: top auto;
}

.layer-mid{
    transform: translate3d(0,calc(var(--scrollTop) / 2.5), 0);
    background-position: bottom;
}

.layer-front{
    transform: translate3d(0,calc(var(--scrollTop) / 5.6), 0);
    background-position: bottom;
}

.content{
    will-change: transform;
}