@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Titillium+Web:wght@200&display=swap');

.title-container{
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: auto;
    text-align: center;
}

.spacer{
    background-image: url(./images/layered-waves-haikei.svg);
    aspect-ratio: 1500/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    padding-top: 200px;
    
    font-size: 8vw;
    background: conic-gradient(#553c9a, #ee4b2b, Green, #553c9a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


