.content{
    height: 80vh;
}

.parallax-container {
    position: relative;
    height: 500px;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-1 {
    z-index: 3; /* Set the z-index to control the stacking order */
}

.layer-2 {
    z-index: 2;
}

.layer-3 {
    z-index: 1;
}

.site-title{
    text-align: center;
    position: fixed;
    width: 100%;
}